.b1 {
    top: 20px !important;
    left: 210px !important;
    width: 300px !important;
}
.b1::after {top: 20% !important}

.b2 {
    top: 20px !important;
    left: 890px !important;
    width: 300px !important;
}
.b2::after {top: 20% !important}